
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:grid;
}

.header {
  background-color: #25e6f49f;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  
}

.row1 {
    display: flex;
    background-color:darkgreen;
    color:white;
   
  } 

#menu1, #menu2, #menu3{
  flex: 1;
  padding: 5px;
  height: 35px;
}

#menu3{
    flex: 3;
    padding: 5px;
    height: 35px;
  }



.row2 {
  display: flex;
  
   
}

#col1, #col3{
  flex: 1;
  padding: 10px;
  height: 300px; 
}

#col1{
    background-color: #aaa;
}

#col2{

    flex: 2;
    padding: 10px;
    background-color: #bbb;
}

#col3{
    background-color: #ccc;
}

.footer {
  background-color:darkgreen;
  padding: 10px;
  text-align: center;
  color: white;

}


@media screen and (max-width: 600px) {
  .row2 {
    flex-direction: column;
  }
}

@media screen and (min-width: 599px) {
    .row2 {
      flex-direction: row;
    }
  }
