*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(5, 83, 51);;   
}

.header{
    background-image: url("images/headerPic.jpg");
    background-blend-mode: multiply;
    display:block;
}

main {
    margin-top: 50px;
    margin-left: 50px;
    color: #fff;
}

.mainHeader, .studId{
    color: white;
    margin-left:15rem;
}

.myProfPic{
/*     width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left; */
    border-radius: 50%;
}

.mainHeader, .mainHeaderspan::first-letter{
    font-size: 2em;
}


section h2 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: underline;
}

main h3 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: underline;
}

.listofAssignment a{
    text-decoration: none;
    color:white;
}

.listofAssignment a:hover{
    text-decoration: underline;
}

.main div.listofAssignment{
    padding-left: 50px;
    font-size: 1rem;
    font-weight: 100;
}

footer{
    background-color:black;
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    color: #FFD740;
    font-size:small;
    letter-spacing: 0.2rem;
    }

#email{
    color:white;
}


