
.form-title{
    font-size: 30px;
    padding-left: 120px;
}

.my-navbar-style, .d-flex span {
    background-color: #69a3d4;
}
.my-navbar-style a, span.nav-link , .d-flex span {
    color: #fff;
}

.btns{
    padding-left: 20px;
}
.btns button{
    margin-right: 20px;
    
}


div > nav {
    background-color:#69a3d4;
}